.flex-column {
  width: 30%;
  max-width: 200px;
  height: 100%;
  background-color: #212529;
  min-height: calc(100vh - 56px);
  display: flex;
  padding: 10px;
}

.flex-column li {
  color: white;
  padding: 10px;
  margin-left: 10px;
}

.flex-column href {
  color: white;
}

.cards-main {
  background-color: transparent !important;
}
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card .card-header h5:after {
  content: "";
  background-color: #d2d2d2;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
}
