.nav-header {
  width: 100%;
  height: 80px;
  background: #4c162c;
  background-color: #4c162c;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
}

.nav-link {
  width: 100%;
  height: 80px;
  background: #4c162c;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 0 auto;
  text-decoration: none;
  border: #4c162c solid transparent;
  border-color: #4c162c solid transparent;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #4c162c;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}
