* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  /* background: #dce1e6; */
  background-color: #f2f7fc !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

.main {
  margin-top: 5em !important;
}
